<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gippitify</title>
</head>
<body>
    <p>Test</p>
    <form action="{{url_for('generate')}}"method="POST">
        <label for="input">Input:</label>
        <input type="text" id="input" name="input" required>
        <button type="submit">Submit</button>
        {% if output %}
            <div class="result">
                <p>{{ output|safe }}</p>
            </div>
        {% endif %}
    </form>
</body>
</html>