<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gippitify</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="hero">
        <div id="hero-text">
            <h1>Gippitify</h1>
            <i><p>flavour text here</p></i>

            {% if session["user_id"] %}
                <p>Welcome, you are logged in!</p>
            {% else %}
                <a class="button" href="{{ url_for('login') }}">Log in here!</a>
            {% endif %}
        </div>
    </div>
    <div class="split">
        <div class="section">
            <form action="{{ url_for('generate') }}" method="POST">
                <label for="input">Input:</label>
                <textarea id="input" name="input" rows="1" required></textarea>
                <i><p id="counter"></p></i>            
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flashes">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
                <button type="submit">Submit</button>
            </form>
        </div>
        <div class="section">
            {% if output %}
                <div class="output">
                    {{ output|safe }}
                    <button id="copy"><img id="copy-icon" src="/static/copy.png"></button>
                </div>
            {% else %}
                <div class="output"><p><i>Your converted output will go here!</i></p></div>
            {% endif %}
        </div>
    </div>
</body>
<script src="/static/script.js"></script>
</html>